<link rel='preconnect' href='//google-analytics.com' />
<link rel='preconnect' href='//googletagmanager.com' />
<link rel='preconnect' href='//google.com' />
<link rel='preconnect' href='//stats.g.doubleclick.net' />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-18360473-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-18360473-1');
</script>