<div class="social-icons">
<ul class="flex flex-wrap">
  {% for key, icon in site.contact_links %}
    <li class="m-4 lg:w-1/5 sm:w-1/2 sm:h-32">
      <a href="{{icon.link}}">
        <div class="rounded overflow-hidden shadow-lg content-center">
          <div class="flex justify-center">
            <img class="h-24 w-24 contact-icon" src="{{icon.icon}}">
          </div>
          <div class="m-2">
            <div class="text-center font-bold text-m">{{icon.name}}</div>
          </div>
        </div>
      </a>
    </li>
  {% endfor %}

</ul>
</div>
