<ul class="flex flex-col">
<h2> Join Mailing List </h2>
<form class="mailing-list" action="https://formsubmit.co/public@briansunter.com" method="POST">
     <input type="email" name="email" required autofill minlength="1" placeholder="your@email.com">
     <button type="submit">SUBSCRIBE</button>
</form>
<h2>Share Page<h2> 
<div class="flex flex-wrap">

<a class="share-btn twitter" href="https://twitter.com/share?url={{site.url}}{{page.url}}&text={{title}}">
    Twitter
</a>

<!-- Facebook (url) -->
<a class="share-btn facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}">
    Facebook
</a>

<!-- Reddit (url, title) -->
<a class="share-btn reddit" href="https://reddit.com/submit?url={{site.url}}{{page.url}}&title={{title}}">
    Reddit
</a>

<!-- Hacker News (url, title) -->
<a  class="share-btn hackernews" href="https://news.ycombinator.com/submitlink?u={{site.url}}{{page.url}}&t={{title}}">
    Hacker News
</a>

<!-- LinkedIn (url, title, summary, source url) -->
<a  class="share-btn linkedin" href="https://www.linkedin.com/shareArticle?url={{site.url}}{{page.url}}&title={{title}}">
    LinkedIn
</a>
</div>

</ul>
