<ul class="flex flex-col">
<!-- <h2> Join Mailing List </h2>
<p>Sign up here to join my monthly mailing list.</p>
<form class="mailing-list" action="https://formsubmit.co/public@briansunter.com" method="POST">
     <input type="email" name="email" required autofill minlength="1" placeholder="your@email.com">
     <button type="submit">SUBSCRIBE</button>
</form> -->
<h2>Share Page<h2> 
<div class="flex flex-wrap">

<a class="share-btn twitter" href="https://twitter.com/share?url={{site.url}}{{page.url}}&text={{title}}">
    Twitter
</a>

<!-- Facebook (url) -->
<a class="share-btn facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}">
    Facebook
</a>


<!-- Hacker News (url, title) -->
<a  class="share-btn hackernews" href="https://news.ycombinator.com/submitlink?u={{site.url}}{{page.url}}&t={{title}}">
    HN
</a>


</div>

</ul>
