
//==========  Article Card ==========//
.article-card {

    .featured-image-link {

        &:hover {

            .featured-image {
                transform: scale(1.1);
            }
        }

    }

    .featured-image {
        transition: transform 1.5s ease;
    }
}
.blog-code {

    pre {
        margin-top: 0;
        overflow: hidden;
        font-size: .8rem;
        padding: 4rem;
    }
}
