---
layout: default
meta_title: About
meta_description: About me. Why I do what I do.
body_class: about
title: About
---

<main id="main" class="main container m-auto flex flex-1 flex-col md:flex-row py-10 px-6 lg:px-0 lg:py-20">

    <section id="container-centre" class="flex-1">

        <h1 class="page-title text-5xl">{{ title }}</h1>

        <div class="content about-me">
           <p>I am commited to excellence in the craft of software engineering on every level, from customer development, to architecture, to coding, to operations. I have 8+ years experience shipping end to end web and mobile applications on AWS. </p>
        </div>

    </section>

</main>
