---
layout: default
meta_title: Bitcoin
meta_description: My bitcoin address
body_class: bitcoin
title: Bitcoin
address: bc1qnsgg9r0llygm4y34t8c79lj26xqcmxgfvxnsjy
bitcoin_qr_code: /images/icons/bitcoin-qr-code.svg
---

<main id="main" class="main container m-auto flex flex-1 flex-col md:flex-row py-10 px-6 lg:px-0 lg:py-20">

    <section id="container-centre" class="flex-1">

        <h1 class="page-title text-5xl">{{ title }}</h1>

        <div class="content">
          <div>
            <h2>Address</h2>
            <code>{{ address }}</code>
          </div>

          <img alt="" src="{{ bitcoin_qr_code }}"/>
        </div>
    </section>

</main>
