---
layout: default
meta_title: Blog
meta_description: Blog page description
body_class: blog
title: Blog
---

<main id="main" class="main flex flex-1 flex-col md:flex-row py-10 px-6 lg:px-0 lg:py-20 bg-purple-900">

    <section id="container-centre" class="flex-1 container ml-auto mr-auto">

        <h1 class="page-title text-white text-3xl md:text-center md:text-5xl mb-16 lg:mb-24 lg:text-6xl">{{ title }}</h1>

        <div class="posts md:flex flex-wrap flex-1 w-full justify-center">

            {% for post in collections.blog %}

                <article class="article-card mb-8 mx-4 md:w-1/4 bg-white rounded-lg overflow-hidden flex flex-col">

                    {# featured post image & category #}
                    {% if post.data.featured_image %}

                        <a class="featured-image-link block relative overflow-hidden h-40" href="{{ post.url }}">

                            {# category link #}

                            <figure>
                                <img class="featured-image" src="{{ post.data.featured_image }}" alt="{{ post.data.image_caption }}" class="block rounded-t-lg">
                            </figure>
                        </a>
                    {% else %}
                        <a class="featured-image-link block relative overflow-hidden h-40" href="{{ post.url }}">
                            {% if post.data.code_excerpt %}
                              <div class="blog-code flex-grow h-40 flex items-center justify-center object-contain mt-0" style="background-color:#21173c">
                            {% highlight post.data.code_lang %}
                            {{ post.data.code_excerpt | safe }}
                            {% endhighlight %}
                              </div>
                            {% else %}
                            <div class="h-full flex items-center justify-center object-contain" style="background-color:{% randomLightColor post.data.title %}"></div>
                            {% endif %}
                        </a>

                    {% endif %}

                    <div class="p-8">

                        <h2 class="text-3xl mb-6"><a class="block text-purple-900 hover:text-pink-500" href="{{ post.url }}">{{ post.data.title }}</a></h2>

                        <div class="text-sm text-gray-600 md:flex mb-4">

                            <p class="author">By {{ site.author.name }}</p>

                            <p class="hidden md:block px-2">—</p>

                            <time datetime="{{ post.date }}">
                                {{ post.date | dateDisplay }}
                            </time>

                        </div>

                    </div>

                    <ul class="m-2 flex-grow inset-x-0 bottom-0 flex flex-wrap p-4 z-10 flex-row items-end">
                      {% for item in post.data.tags %}

                        {%- if item != "blog" -%}

                          <li class="m-1 inset-x-0 bottom-0">

                            <a href="/category/{{ item }}">
                              <span class="inline-block bg-pink-500 px-2 py-2 text-white text-xs font-bold rounded">{{ item | capitalize }}</span>

                            </a>

                            </li>

                          {%- endif -%}

                        {% endfor %}

                      </ul>
                </article>

            {% endfor %}

        </div>

    </section>

</main>


