---
layout: default
meta_title: Contact
meta_description: Contact me through various methods
body_class: contact
title: Contact Me
---

<main id="main" class="main flex flex-1 flex-col md:flex-row py-10 px-6 lg:px-0 lg:py-20">

    <section id="container-centre" class="flex-1 container mx-auto">

        <h1 class="page-title text-5xl">{{ title }}</h1>

        <div class="content">

            {% include 'components/contact-icons.njk' %}

    </section>

</main>
