---
layout: default
meta_title: Home
meta_description: Homepage description
body_class: home
title: "Personal Site of Brian&nbspSunter"
---

<main id="main" class="main container m-auto flex flex-1 flex-col md:flex-row py-10 px-6 lg:px-0 lg:py-20">

    <section id="container-centre" class="flex-1">

        <h1 class="page-title text-5xl">{{ title | safe}}</h1>

        <div class="content">
            <p>I'm a Software Engineer in San Francisco working in web, mobile, and devops.</p>

            <h2 class="text-3xl">Interests</h2>

            <ul class="mb-12 list-disc pl-4">
              <li><a href="/category/programming">Software Engineering</a></li>
                <li><a href="/category/functional/"> Functional Programming </a> and <a href="/category/clojure/"> Clojure </a> </li>
                <li><a href="/category/devops/">DevOps, Cloud, and AWS</a></li>
                <li><a href="/category/photography/"> Photography </a></li>
                <li>Travel and Outdoors</li>
            </ul>

        </div>

    </section>

</main>


