---
layout: default
meta_title: Home
meta_description: Personal Site of Brian Sunter. Writings about travel, coding, and technology.
body_class: home
title: "Personal Site of Brian&nbspSunter"
---

<main id="main" class="main container m-auto flex flex-1 flex-col md:flex-row py-10 px-6 lg:px-0 lg:py-20">

    <section id="container-centre" class="flex-1">

        <h1 class="page-title text-4xl">{{ title | safe}}</h1>

        <div class="content">
            <p>I'm a Software Engineer in San Francisco working in web, mobile, and devops.</p>

            <h2 class="text-3xl">Interests</h2>

            <ul class="mb-12 list-disc pl-4">
              <li><a href="/category/programming">Software Engineering</a></li>
                <li><a href="/category/functional/"> Functional Programming </a> and <a href="/category/clojure/"> Clojure </a> </li>
                <li><a href="/category/devops/">DevOps, Cloud, and AWS</a></li>
                <li><a href="/category/photography/"> Photography </a></li>
                <li>Travel and Outdoors</li>
            </ul>

            <h2 class="text-3xl">Projects</h2>

            <ul class="mb-12 list-disc pl-4">
              <li><a href="https://github.com/briansunter/site">Personal Site</a> This site, which is a static site made with eleventy.</li>
                <li><a href="https://github.com/briansunter/dotfiles">My dotfiles</a> Scripts and configuration to boostrap my macos computers. </li>
                <li><a href="https://github.com/briansunter/terraform-aws-static-site">Terraform Static Site</a> Cloudfront + CodePipeline deploy on commit static site  </li>
                <li><a href="https://github.com/briansunter/3D-me">3D-me</a> 3D Selfie made with three.js </li>
                <li><a href="https://github.com/briansunter/maille">maille</a> 3D chain mail in the browser with three.js </li>
                <li><a href="https://github.com/briansunter/app-review-dashboard">App Review Dashboard</a> Word Cloud of App Reviews </li>
                <li><a href="https://github.com/briansunter/super-doge-world">Super Doge World</a> Typescript phaserjs super mario run like game</li>
                <li><a href="https://github.com/briansunter/kubernetes-devbox">Kubernetes Devbox</a> Develop in VS Code in a browser served by Kubernetes</li>
                <li><a href="https://github.com/briansunter/bander">Bander</a> Multiple Choice Adventure RPG game in React </li>
                <li><a href="https://github.com/briansunter/haskell-supermemo">Haskell Supermemo</a> An implementation of the supermemo 2 flash card spaced repetition algorithm.</li>
                <li><a href="http://fuckyesmoney.briansunter.com">Fuck Yes Money</a> Animated video of money falling</li>
            </ul>
        </div>

    </section>

</main>


