@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "modules/_links.css";
@import "modules/_typography.css";
@import "modules/_article-card.css";
@import "modules/_typography.css";
@import "modules/_buttons.css";
