.article-card {

    .featured-image-link {

        &:hover {

            .featured-image {
                transform: scale(1.1);
            }
        }

    }

    .featured-image {

        transition: transform 1.5s ease;
    }
}

/*! purgecss start ignore */
.blog-code {

    pre {
        width:100%;
        height:100%;
        font-size: .8rem;
        overflow: hidden;
    }
}
/*! purgecss end ignore */
