body {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

code,
pre,
samp {
    white-space: pre-wrap;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-bold leading-tight mt-1 mb-3;
}

.about-me, .post {

    h1 {
        @apply text-5xl;

    }

    h2 {
        @apply text-4xl;
    }

    p {
        @apply mb-8;

        &.intro {
            @apply border-0 border-gray-200 text-2xl pb-10 mb-10 font-light text-gray-500;

            @screen md {
                @apply text-3xl;
            }
        }
    }

    blockquote {
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
    }

    blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    blockquote p {
        display: inline;
    }
}

.post {
    li {
        list-style-type: disc;
        margin-bottom: calc(16px * 1.5 / 2);
        margin-left : calc(16px * 1.5 / 2);
    }

    .tags-post {
        li {
            list-style-type: none;
        }
    }

    img {
        padding-top: 1rem;
        padding-bottom:1rem;
    }
}

:not(pre) > code {
    margin: 3px;
    padding: 1px;
    border: 1px solid #a09999;
    border-radius: 3px;
    background-color: #eef;
}

